<div class="row">
    <div class="slider">
        @for (int i = 1; i < ViewBag.Count; i++)
        {
            <img src="~/Content/Images/@(i).jpg" alt="Old Photos" />
        }
    </div>
</div>

