@model IEnumerable<FindYourMakeUp.Data.Models.Category>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="slider">
        @for (int i = 1; i < ViewBag.Count; i++)
        {
            <img src="~/Content/Images/@(i).jpg" alt="Old Photos" />
        }
    </div>
</div>

@using (Html.BeginForm())
{
    <div class="input-group form-group">
        <span class="input-group-addon">Category</span>
        <select id="state" name="state" class="form-control">
            <option id="" value="oras">– Choose –</option>
            @foreach (var c in Model)
            {
            <option id="@c.Id" value="@c.Id">@c.Name</option> }
        </select>
    </div>

    <div class="input-group form-group">
        <span class="input-group-addon">Type</span>
        <select id="city" name="city" class="form-control">
            <option id="" value="oras">– Choose –</option>

        </select>
    </div>
}


@section scripts{
    <script>
        $(function () {
            $('.slider img:gt(0)').hide();
            setInterval(function () {
                $('.slider :first-child').hide();
                $('.slider :first-child').next('img').fadeIn(3000)
                    .end().appendTo('.slider');
            },
                        10000);
        });
    </script>

<script>
    $('#state').change(function (e) {
        e.preventDefault();
        var url = '@Url.Action("GetSubCategoriesNames", "Home")';
        var categoryId = $('#state option:selected').val();
        $.post(url, { categoryId: categoryId }, function (data) {
            var items = [];
            items.push("<option>–Choose–</option>");
            $.each(data, function () {
                items.push("<option value=" + this.Name + ">" + this.Name + "</option>");
            });
            $("#city").html(items.join(' '));
        });
    });
</script>
}
