@model IEnumerable<FindYourMakeUp.Web.ViewModels.Home.IndexProductsViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="slider">
        @for (int i = 1; i < ViewBag.Count; i++)
        {
            <img src="~/Content/Images/@(i).jpg" alt="Old Photos" />
        }
    </div>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <h1>@item.Name</h1>
    }
</div>


@section scripts{
    <script>
        $(function () {
            $('.slider img:gt(0)').hide();
            setInterval(function () {
                $('.slider :first-child').hide();
                $('.slider :first-child').next('img').fadeIn(3000)
                    .end().appendTo('.slider');
            },
                        10000);
        });
    </script>
}
