@using FindYourMakeUp.Web.Areas.Administration.ViewModels

@{
    ViewBag.Title = "Categories administration";
    const string ControllerName = "Categories";
}

<h2>@ViewBag.Title</h2>

@Html.ValidationSummary()

@(Html.Kendo()
      .Grid<CategoriesParentsViewModel>()
      .Name("grid")
      .Columns(cols =>
      {
          cols.Bound(pr => pr.Id).Hidden();
          cols.Bound(pr => pr.Name);
          cols.Bound(pr => pr.Category).ClientTemplate(
                                                       "# if (Category) { #" +
                                                       "#=Category.Name# " +
                                                       "# } else { #" +
                                                       "   No parent category" +
                                                       "# } #").Title("Parent Category");
          cols.Command(com => com.Edit()).Title("Edit");
          cols.Command(com => com.Destroy()).Title("Delete");
      })
      .ColumnMenu()
      .Pageable(page => page.Refresh(true))
      .Resizable(c => c.Columns(true))
      .Reorderable(reorder => reorder.Columns(true))
      .Sortable()
      .Groupable()
      .Filterable()
      .Editable(edit => edit.Mode(GridEditMode.InLine))
      .ToolBar(toolbar => toolbar.Create())
      .Events(events =>
      {
              // events.Save("onSaveProduct");
      })
      .DataSource(data => data
                              .Ajax()
                              .Model(m =>
                              {
                                  m.Id(x => x.Id);
                                  m.Field(p => p.Category).DefaultValue(new CategoriesViewModel());
                              })
                              .Read(read => read.Action("Read", ControllerName))
                              .Create(create => create.Action("Create", ControllerName))
                              .Update(update => update.Action("Update", ControllerName).Type(HttpVerbs.Post))
                              .Destroy(destroy => destroy.Action("Destroy", ControllerName))))

@section scripts{
    <script>
        function onSaveProduct() {
            $("#grid").data("kendoGrid").dataSource.read();
        }
    </script>
}