@using FindYourMakeUp.Web.Areas.Administration.ViewModels

@{
    ViewBag.Title = "Categories administration";
    const string ControllerName = "Categories";
}

<h2>@ViewBag.Title</h2>

@Html.ValidationSummary()

@(Html.Kendo()
          .Grid<CategoriesParentsViewModel>()
      .Name("grid")
      .Columns(cols =>
      {
          cols.Bound(pr => pr.Id).Hidden();
          cols.Bound(pr => pr.Name);
          cols.Bound(pr => pr.ParentCategoryName).ClientTemplate("#= ParentCategoryName #").Title("Parent Category"); 
          //cols.Bound(pr => pr.ManufacturerId).ClientTemplate("#= ManufacturerName #").Title("Manufacturer").ClientGroupHeaderTemplate("#= Manufacturer.Name #");
          //cols.Bound(pr => pr.CategoryId).ClientTemplate("#= CategoryName #").Title("Category");
          //cols.Bound(pr => pr.ProductTypeId).ClientTemplate("#= ProductTypeName #").Title("Product Type");
          cols.Command(com => com.Edit()).Title("Edit");
          cols.Command(com => com.Destroy()).Title("Delete");
      })
      .ColumnMenu()
      .Pageable(page => page.Refresh(true))
      .Resizable(c => c.Columns(true))
          .Reorderable(reorder => reorder.Columns(true))
      .Sortable()
      .Groupable()
      .Filterable()
      .Editable(edit => edit.Mode(GridEditMode.InLine))
      .ToolBar(toolbar => toolbar.Create())
      .Events(events =>
      {
          events.Save("onSaveProduct");
      })
      .DataSource(data => data
                              .Ajax()
                              .Model(m =>
                              {
                                  m.Id(adv => adv.Id);
                                  //m.Field(p => p.CreatedOn).Editable(false);
                                  m.Field(p => p.ParentCategoryName);
                                  //m.Field(p => p.ManufacturerId).DefaultValue((ViewData["DefaultManufacturers"] as ManufacturerViewModel).Id);
                                  //m.Field(p => p.ProductTypeId).DefaultValue((ViewData["DefaultProductTypes"] as FindYourMakeUp.Web.Areas.Administration.ViewModels.ProductTypeViewModel).Id);
                              })
                              .Read(read => read.Action("Read", ControllerName))
                              .Create(create => create.Action("Create", ControllerName))
                              .Update(update => update.Action("Update", ControllerName))
                              .Destroy(destroy => destroy.Action("Destroy", ControllerName))))

@section scripts{
    <script>
        function onSaveProduct() {
            $("#grid").data("kendoGrid").dataSource.read();
        }
    </script>
}