body {
}
.field-validation-valid
{
    display: none;
}
.validation-summary-valid
{
    display: none;
}
    .slider img {
        height: 300pt;
        width:100%;
    }

    #treeViewCategoriesNav::-webkit-scrollbar {
    display : none;
}