@using FindYourMakeUp.Web.Areas.Administration.ViewModels

@{
    ViewBag.Title = "Products administration";
    const string ControllerName = "Products";
}

<h2>@ViewBag.Title</h2>

@(Html.Kendo()
      .Grid<ProductsViewModel>()
      .Name("grid")
      .Columns(cols =>
      {
          cols.Bound(pr => pr.Id).Hidden();
          cols.Bound(pr => pr.Name);
          cols.Bound(pr => pr.Description);
          cols.Bound(pr => pr.ManufacturerId).ClientTemplate("#= ManufacturerName #").Title("Manufacturer");
          cols.Bound(pr => pr.ParentCategoryId).ClientTemplate("#= ParentCategoryName #").Title("Category");
          cols.Bound(pr => pr.CategoryId).ClientTemplate("#= CategoryName #").Title("SubCategory");
          cols.Bound(pr => pr.ProductTypeId).ClientTemplate("#= ProductTypeName #").Title("Product Type");
          cols.Command(com => com.Edit()).Title("Edit");
          cols.Command(com => com.Destroy()).Title("Delete");
      })
      .ColumnMenu()
      .Pageable(page => page.Refresh(true))
      .Resizable(c => c.Columns(true))
      .Reorderable(reorder => reorder.Columns(true))
      .Sortable()
      .Groupable()
      .Filterable()
      .Editable(edit => edit.Mode(GridEditMode.InLine))
      .ToolBar(toolbar => toolbar.Create())
      .Events(events =>
      {
          events.Change("onSaveProduct");
          events.Save("onSaveProduct");
      })
      .DataSource(data => data
                              .Ajax()
                              .Model(m =>
                              {
                                  m.Id(adv => adv.Id);
                                  m.Field(p => p.CreatedOn).Editable(false);
                              })
                              .Read(read => read.Action("Read", ControllerName))
                              .Create(create => create.Action("Create", ControllerName))
                              .Update(update => update.Action("Update", ControllerName))
                              .Destroy(destroy => destroy.Action("Destroy", ControllerName))))

@section scripts{
    <script>
        function onSaveProduct() {
            $("#grid").data("kendoGrid").dataSource.read();
        }
    </script>
    <script>
        function filterSubCategories() {
            return {
                categoryId: $("#ParentCategoryId").val()
            };
        }

        function filterTypes() {
            return {
                categoryId: $("#CategoryId").val()
            };
        }
    </script>
}

